#main {
  margin-top: 50px;
}

.menu{
	background-color: #1B1C1D;
	-webkit-backgroud-color: #1B1C1D;
	-moz-background-color: #1B1C1D;
}

.form-control{
<<<<<<< HEAD
	width: 458px;
=======
	width: 452px;
>>>>>>> 0f5005fb6e8c8d259f1b2aee7fa876b40c2cc809
}