#main {
  margin-top: 50px;
}

.menu{
	background-color: #1B1C1D;
	-webkit-backgroud-color: #1B1C1D;
	-moz-background-color: #1B1C1D;
}

.sizeAddUsuario{
	width: 300px;
}

.divSelect{
	margin-left: 90px;
}

#main{
	width: 100%;
}

#formulario{
	margin-bottom:20px;
}